<div class="site-navbar js-site-navbar">
    <nav role="navigation">
        <div class="container">
            <div class="row full-height align-items-center">
                <div class="col-md-6 mx-auto">
                    <ul class="list-unstyled menu">
                        <li class="active"><a th:href="@{/index}">Главная</a></li>
                        <li><a th:href="@{/rooms}">Номера</a></li>
                        <li><a th:href="@{/reservation}">Бронирование</a></li>
                        <li><a th:href="@{/reviews}">Отзывы</a></li>
                        <li><a th:href="@{/about}">О нас</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>