<div class="site-navbar js-site-navbar">
    <nav role="navigation">
        <div class="container">
            <div class="row full-height align-items-center">
                <div class="col-md-6 mx-auto">
                    <ul class="list-unstyled menu">
                        <li class="active"><a href="./index.html">Главная</a></li>
                        <li><a href="./rooms.html">Номера</a></li>
                        <li><a href="./reservation.html">Бронирование</a></li>
                        <li><a href="./contact.html">Отзывы</a></li>
                        <li><a href="./about.html">О нас</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>