<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="rooms">
        <section class="section pb-4">
            <div class="container">
                <div class="row check-availabilty" id="next">
                    <div class="block-32" data-aos="fade-up" data-aos-offset="-200">
                        <form th:action="@{/checkFreeData}" method="post">
                            <div class="row">
                                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                                    <label for="checkin_date" class="font-weight-bold text-black">Дата заезда</label>
                                    <div class="field-icon-wrap">
                                        <div class="icon"><span class="icon-calendar"></span></div>
                                        <input type="text" id="checkin_date" class="form-control" th:value="${inData}">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                                    <label for="checkout_date" class="font-weight-bold text-black">Дата выезда</label>
                                    <div class="field-icon-wrap">
                                        <div class="icon"><span class="icon-calendar"></span></div>
                                        <input type="text" id="checkout_date" class="form-control" th:value="${outData}">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                                    <div class="row">
                                        <div class="col-md-6 mb-3 mb-md-0">
                                            <label for="adults" class="font-weight-bold text-black">Взрослые</label>
                                            <div class="field-icon-wrap">
                                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                <select name="adults" id="adults" class="form-control">
                                                    <option th:each="i : ${#numbers.sequence(1, 4)}" th:value="${i}" th:text="${i}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3 mb-md-0">
                                            <label for="kids" class="font-weight-bold text-black">Дети</label>
                                            <div class="field-icon-wrap">
                                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                <select name="kids" id="kids" class="form-control">
                                                    <option th:each="i : ${#numbers.sequence(0, 2)}" th:value="${i}" th:text="${i}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 align-self-end">
                                    <button class="btn btn-primary btn-block text-white">Проверить доступность</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>