<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;" th:fragment="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://avatars.dzeninfra.ru/get-zen_doc/3986249/pub_5f7d9b08f862571092123e24_5f7d9e0fdee6654398e11cdd/scale_1200" alt="Sber Hotel" style="width:40px;" class="rounded-pill">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/main">Главная страница</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Регистрация</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</body>
</html>